.hero {
  min-height: 100svh;
  background-image: url("@/assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: grid;
  align-items: center;
}
