@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "./reset.css";
@import "./variables.css";

html {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-backgroundMain);
  color: var(--color-textPrimary);
  font-family:
    "Inria Sans",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}
